{% extends "hwapp/layout.html" %}

{% block body %}

    <h2>About Me</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

<table>
    <tbody>
        <tr>
            <td width=10%></td>
            <td width=20%>
                About Me:
            </td>
            <td width=10%></td>
            <td width=60%>
                Hi, I am Matthew, a high school junior and avid programmer
            </td>
        </tr>
        <tr>
            <td width=10%></td>
            <td width=20%>
                About This Site:
            </td>
            <td width=10%></td>
            <td width=60%>

                    <li>
                        <b>NOTE: </b>Exporting the calendar does <b>not</b> export Schoology or Canvas events. Those may be exported separately
                    </li>
                    <li>
                        If you would like the calendar export option, please select that in your preferences(under settings)
                    </li>
                    <li>
                        Please report all errors to <a href='mailto:matthew@matthewtsai.games'>matthew@matthewtsai.games</a>
                    </li>

            </td>
        </tr>

    </tbody>
</table>

{% endblock %}