{% extends "hwapp/layout.html" %}
{% load static %}
{% block title %}
Admin Console
{% endblock %}
{% block body %}
<div id="alert" class='alert alert-success' style="display: none;"></div>

<div style="width: 20%; float: left;" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" onclick="toggle('all')" aria-selected="true"><i class="fa-solid fa-globe"></i>&nbsp;<span class="mobile_hide">All</span></a>
    <a class="nav-link" id="v-pills-messages-tab" href="/admin" role="tab" aria-selected="false"><i class="fa-solid fa-screwdriver-wrench"></i>&nbsp;<span class="mobile_hide">Admin Console</span></a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-Bookmarks" role="tab" aria-controls="v-pills-home" onclick="toggle('bookmarks')" aria-selected="false"><i class="fa-solid fa-bookmark"></i>&nbsp;<span class="mobile_hide">Bookmarks</span></a>
    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-Communications" role="tab" aria-controls="v-pills-home" onclick="toggle('communications')" aria-selected="false"><i class="fa-solid fa-envelope"></i>&nbsp;<span class="mobile_hide">Communications</span></a>
    <a class="nav-link" id="v-pills-messages-tab" href="{% url 'experience_manager' %}" role="tab" aria-selected="false"><i class="fa-solid fa-camera"></i>&nbsp;<span class="mobile_hide">Experience Manager</span></a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-Helpers" role="tab" aria-controls="v-pills-home" onclick="toggle('helpers')" aria-selected="false"><i class="fa-solid fa-handshake-angle"></i>&nbsp;<span class="mobile_hide">Helpers</span></a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-Integrations" role="tab" aria-controls="v-pills-home" onclick="toggle('integrations')" aria-selected="false"><i class="fa-solid fa-circle-nodes"></i>&nbsp;<span class="mobile_hide">Integrations</span></a>

  </div>
  <div style="width: 80%;float:left;margin-left: 0%;height: 100%;" class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="list-group">
            <a href="#" onclick="admin(function1='canvas_class')" class="list-group-item list-group-item-action integrations all"><i class="fa-solid fa-people-roof"></i>&nbsp;Canvas Class Refresh</a>
            <a href="#" onclick="admin(function1='canvas_hw')" class="list-group-item list-group-item-action integrations all"><i class="fa-solid fa-note-sticky"></i>&nbsp; Canvas HW Refresh</a>
            <a href='cronitor.io/app/?env=production' class="list-group-item list-group-item-action bookmarks all"><i class="fa-brands fa-watchman-monitoring"></i>&nbsp;Cronitor</a>
            <a href="{% url 'experience_manager' %}" class="list-group-item list-group-item-action all"><i class="fa-solid fa-camera-retro"></i>&nbsp;Experience</a>
            <a href="{% url 'filebin' %}" class="list-group-item list-group-item-action helpers all"><i class="fa-solid fa-folder"></i>&nbsp;Filebin</a>
            <a href="{% url 'helpformlist' %}" class="list-group-item list-group-item-action communications all"><i class="fa-solid fa-question"></i>&nbsp;Help Forms</a>
            <a href="{% url 'integration_log' %}" class="list-group-item list-group-item-action integrations all"><i class="fa-regular fa-floppy-disk"></i>&nbsp;Integration Log</a>
            <a target="_blank" href="https://matthew-homeworkapp.atlassian.net/jira/servicedesk/projects/IP/queues/custom/15" class="list-group-item list-group-item-action bookmarks all"><i class="fa-solid fa-bug"></i>&nbsp;ITSM Console</a>
            <a target="_blank" href="https://matthew-homeworkapp.atlassian.net/jira/software/projects/HOM/boards/1" class="list-group-item list-group-item-action bookmarks all"><i class="fa-solid fa-circle-exclamation"></i>&nbsp;Jira Board</a>
            <a href="#" onclick="admin(function1='notion_pull')" class="list-group-item list-group-item-action integrations all"><i class="fa-solid fa-diagram-project"></i>&nbsp;Notion</a>
            <a href="{% url 'pastebin' %}" class="list-group-item list-group-item-action helpers all"><i class="fa-regular fa-paste"></i>&nbsp;Pastebin</a>
            <a href="#" onclick="admin(function1='schoology_class')" class="list-group-item list-group-item-action integrations all"><i class="fa-solid fa-people-roof"></i>&nbsp;Schoology Class Refresh</a>
            <a href="#" onclick="admin(function1='schoology_hw')" class="list-group-item list-group-item-action integrations all"><i class="fa-solid fa-note-sticky"></i>&nbsp; Schoology HW Refresh</a>
            <a href="/email" class="list-group-item list-group-item-action communications all"><i class="fa-solid fa-paper-plane"></i>&nbsp; Send Email</a>
            <a href="#" onclick="confirm_refresh()" class="list-group-item list-group-item-action communications all"><i class="fa-solid fa-paper-plane"></i>&nbsp; Send Homework Email</a>
            <a target="_blank" href="https://sentry.io/organizations/homework-app/issues/?project=6359235" class="list-group-item list-group-item-action bookmarks all"><i class="fa-brands fa-watchman-monitoring"></i>&nbsp;Sentry</a>
            <a href="/admin_dashboard/users" class="list-group-item list-group-item-action communications all"><i class="fa-solid fa-users"></i>&nbsp; User Management</a>
        </div>
    </div>
  </div>
{% csrf_token %}

{% endblock %}

{% block footer %}
<style>
    tr:nth-child(even) {
  background-color: white;
}
@media
only screen and (max-width: 760px),
(min-device-width: 0px) and (max-device-width: 1024px) {
    .mobile_hide {
        display: none;
    }

}
</style>
<script src="{% static 'hwapp/admin_console.js' %}"></script>
<script>
    function toggle(box) {
        const allDivs = document.getElementsByClassName("all")
        const selectedDivs = document.getElementsByClassName(box)
        if (box == "all") {
            for (let i = 0; i < allDivs.length; i++) {
                allDivs[i].style.display = 'block'
            } 
        } else {
            for (let i = 0; i < allDivs.length; i++) {
                allDivs[i].style.display = 'none'
            }           
            for (let i = 0; i < selectedDivs.length; i++) {
                selectedDivs[i].style.display = 'block'
            }           
        }
    }
</script>
{% endblock %}