{% extends "hwapp/layout.html" %}
{% block title %}
Admin Console
{% endblock %}
{% block body %}
<div class="alert alert-primary">
    NOTICE: Access to this log is for authorized users only. While viewing this log, your use may be monitored, recorded and subject to audit.
</div>
<table style="width: 96%;margin-left:2%;margin-right:2%">
    <thead>
        <tr>
            <td>
                <b>ID</b>
            </td>
            <td>
                <b>User</b>
            </td>
            <td>
                <b>Log Type</b>
            </td>
            <td>
                <b>Date</b>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Error?</b> 
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a onclick='errorVal(0)' class="dropdown-item class_filter_items">No</a>
                        <a onclick='errorVal(1)' class="dropdown-item class_filter_items" >Yes</a>

                    </div>
                  </div>
            </td>
        </tr>
    </thead>
    <tbody id="log_body">
    </tbody>
</table>
{% endblock %}

{% block footer %}
<!-- modal JS -->
<script>
    function errorVal(val) {
    var url = new URL(window.location.href);
    if(val == 1) {
        log_ajax(error=true)
    } else {
        log_ajax(error=false)

    }
}
function log_ajax(error=false) {
    fetch(`http://{{website_root}}/integrations/admin_log_ajax?error=${error}`, {
        method: 'GET',
        credentials: "same-origin",
    })
    .then(response => response.json())
    .then(result => {
        table = document.getElementById('log_body')
        table.innerHTML = ''
        for(let i = 0; i < result.length; i++) {
            table.innerHTML += `<tr><td>${result[i]['id']}</td><td>${result[i]['username']}</td><td>${result[i]['log_type']}</td><td>${result[i]['date']}</td><td>${result[i]['error']}</td></tr>`
        }
    })
}
document.addEventListener('DOMContentLoaded', () => {
    log_ajax()
})
</script>

{% endblock %}