{% extends "hwapp/layout.html" %}



{% block body %}
<h1 style='text-align: center;'>Link to ICS Feed</h1>
<div style='background-color: rgb(232, 241, 250)' class='ics_form'>webcal://{{ics_link}}</div>
<h3>
    <b>Important Information:</b>
</h3>

<ul>
    <li>
        This export does NOT contain the Schoology, Canvas, or Other integrated events
    </li>
    <li>
        To add this calendar feed to Outlook, navigate to your calendar, press Add Calendar, and copy and paste the above link into the subscribe from web option
    </li>
    <li>
        To add this calendar feed to Google Calendar, please navigate to your calendar, press the + sign next to "Other Calendars," press "From URL," and copy and paste the above link into the provided field
    </li>
    <li>
        If you did not select "Calendar Output," no events will be visible on your calendar.
    </li>
</ul>

{% endblock %}

