{% extends "hwapp/layout.html" %}
{% block title %}{{service}} API Key{% endblock %}



{% block body %}
<h1 style='margin-left:35%;'>
    {{prefix}} {{service}} API Key
</h1><br>
<h2 style='margin-left:35%;'>
Location: 
</h2>
<p style="margin-left:35%;">
    Profile -> Settings -> Add New Access Token 

</p><br>
<form method="POST" action="/integrations/canvas_api" autocomplete="off">
    {% csrf_token %}
    <table style='margin-left:35%;'>
        <tbody>
            <tr>
                <td>
                    <label for='base_url'>Name: </label>
                </td>
                <td>
                    <input type="text" name="base_url" id="base_url" value="{{integration.url}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for='secret_key'>Secret Key: </label>
                </td>
                <td>
                    <input type="password" name="secret_key" id="secret_key">
                </td>
            </tr>
            
        </tbody>
    </table><br>
    <button type="submit" class="btn btn-primary" style="margin-left:35%;">Submit</button>
</form>
{% if linked_classes %}
<div style="margin-left: 35%;">
<ul>
    {% for class in linked_classes %}
    <li>
        <a href="{% url 'index' %}?class={{class.linked_class.id}}">{{class.linked_class.class_name}}</a>
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}