{% extends 'hwapp/layout.html' %}

{% block body %}
<h1>
Homework List for {{user.username}}
</h1>
<table class="classes" width='100%'>
    <thead class="classes">
        <strong><tr class="classes">
            <td class="classes" width='50%'>
                <strong>Class Name</strong>
            </td width = '10%'>
            <td class="classes">
                <strong>Period</strong>
            </td>
            <td class="classes" width='20%'>
                <strong>Class Time</strong>
            </td>
            <td class="classes" width='10%'>
                <strong>Edit</strong>
            </td>
        </tr></strong>
    </thead>
    <tbody class="classes">
        {% for class in classes %}
            <tr class="classes">
                <td class="classes"><a href='/classhw/{{class.id}}'>
                    {{class.class_name}}
                </a></td>
                <td class="classes"><a href='/classhw/{{class.id}}'>
                    {{class.period}}
                </a></td>
                <td class="classes"><a href='/classhw/{{class.id}}'>
                    {{class.time}}
                </a></td>
                <td class="classes">
                    <a href='/editclass/{{class.id}}'>
                        <img id="edit_logo" src='/static/hwapp/edit.png' width='20%'>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<a href='/addclass'>Add Class</a>
{% endblock %}