{% extends 'hwapp/layout.html' %}

{% block body %}
<script>
            const globalUrl = new URL("{{export_link}}");
    function generate_link_class() {
        globalUrl.searchParams.set('class_id', document.getElementById('class_select').value)
        console.log(globalUrl)
        console.log(document.getElementById("download").href)
        document.getElementById("download").setAttribute('href', globalUrl)
    }function generate_link_complete() {
        globalUrl.searchParams.set('completed', document.getElementById('completed').value)
        document.getElementById("download").setAttribute('href', globalUrl)
    }
    function confirmation_msg() {
        alert_msg = document.getElementById("alert")
        alert_msg.setAttribute("class", "alert alert-success")
        alert_msg.innerHTML = "Homework exported successfully"
        alert_msg.style.display = "block"
    }
    </script>
<h1>
Export Your Homework to CSV
</h1>
<div id = 'alert' class="alert" style="display: none;"></div>
<table style="width:30%;margin-left:35%">
    <tr>
        <td width="50%"><b>Class: </b></td>
        <td width="50%">
            <select id='class_select' onchange="generate_link_class()">
                <option value = ''>All Classes</option>
                {% for class in class_list %}
                <option value="{{class.id}}">{{class.class_name}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td><b>Completed: </b></td>
        <td>
            <select id="completed" onchange = "generate_link_complete()">
                <option value = ''>All</option>
                <option value='true'>Yes</option>
                <option value='false'>No</option>

            </select>
        </td>        
    </tr>
</table>
<a id="download" class="btn btn-primary" href="{{export_link}}" onclick="confirmation_msg()">Download File</a>

{% endblock %}