{% extends "hwapp/layout.html" %}

{% block body %}
{% if message %}
<div class="alert alert-success" role="alert">
    {{message}}    
    </div>
{% endif %}
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.1/ui/trumbowyg.min.css">
  
</head>

<form method="post" action='/config/email_templates?template_id={{email_template.id}}'>
    {% csrf_token %}
    <h1>Edit the {{email_template.template_name}} Template</h1>
    <textarea cols='100' class="myeditablediv" id="template_body" name='template_body'>{{email_template.template_body}}</textarea>
<button class='btn btn-primary'>Submit</button>
  </form>



{% endblock %}
{% block footer %}<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.1/trumbowyg.min.js"></script>
<script>

    $('.myeditablediv').trumbowyg()

</script>{% endblock %}