{% extends 'hwapp/layout.html' %}
{% load static %}
{% block javascript %}<script src="{% static 'hwapp/sortable.js' %}"></script>
{% endblock %}

{% block body %}
<h1>
Homework List for {{user.username}}
</h1>

<script>
    function completioncall(id) {
        fetch(`/completion/${id}`, {
            method: 'POST',
                headers: {
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                },
                credentials: "same-origin",
                body: JSON.stringify({
                    hw_id: id,
                    completion: document.getElementById(id).value
                })
        })
        .then(response=>response.json())
        .then(result => {
            if(result['status'] == 201) {
                var bool = document.getElementById(id).value 
                const elem = document.getElementById(id)
                if(String(bool.toLowerCase()) == String(true)) {
                    document.getElementById('alert').innerHTML = `<div class="alert alert-success" role="alert">Homework unchecked successfully</div>`
                    elem.value = "False"
                    elem.removeAttribute("checked")
                    try {
                        const incomplete = document.getElementById('incomplete_table')
                        var toappend = document.getElementById(`hwentry_${id}`)
                        incomplete.append(toappend)  
                    } catch (error) {
                        
                    }


                } else {
                    document.getElementById('alert').innerHTML = `<div class="alert alert-success" role="alert">Yayy! You completed an assignment!</div>`
                    document.getElementById(id).value = "True"
                    document.getElementById(id).setAttribute("checked", "true")
                    const complete = document.getElementById('completed_table')
                    var toappend = document.getElementById(`hwentry_${id}`)
                    complete.append(toappend)
                } 
            } else {
                document.getElementById('alert').innerHTML = `<div class="alert alert-danger" role="alert">${result['message']}</div>`
            }
        })
        return false

        
    }
</script>
<div id="alert"></div>
<table class='index sortable' width='100%'>
    <thead class='index'>
        <tr class='index'>
            <td class='index' width=5%></td>
            <td class='index'width='40%'>
                <strong>Assignment Name</strong>
            </td>
            <td class='index' width='20%'>
                <strong>Class Name</strong>
            </td>
            <td class='index' width=15%>
                <strong>Due Date </strong>
            </td>
            <td class='index' width='10%'>
                <strong>Priority</strong>
            </td>
            <td class='index' width=5%>
                <strong>Completed?</strong>        
            </td>
            <td width=5%></td>
        </tr>
    </thead>
    <tbody id="incomplete_table" class='index sortable'>
        {% for hw in hwlist %}
        <tr class='index' id="hwentry_{{hw.id}}">
            <td class='index'></td>
            <td class='index'>
                <a href = '{% url "edit_hw" hw.id %}'>{{hw.hw_title}}</a>
            </td>
            <td class='index'>
                <a href = '{% url "edit_hw" hw.id %}'>{{hw.hw_class}}</a>
            </td>
            <td class='index date_field'>
                <a href = '{% url "edit_hw" hw.id %}'>{{hw.due_date}}</a>
            </td>
            <td class='index'>
                <a href = '{% url "edit_hw" hw.id %}'>{{hw.priority}}</a>
            </td>

                <td class='index'>
                <form action='/' method="POST" id="hwform" class="hwform" name='{{hw.id}}'>
                    {% csrf_token %}
                    {% if not hw.completed %}
                        <input type='checkbox' onclick='completioncall({{hw.id}})' class='completed' id='{{hw.id}}' name='hw_completion' value='{{hw.completed}}'>
                    {% else %}
                    <input type='checkbox' onclick='completioncall({{hw.id}})' class='completed' id='{{hw.id}}' name='hw_completion' value='{{hw.completed}}'  checked='{{hw.completed}}'>
                    {% endif %}
                    {{form.completed}}
                    <input type='hidden' class='completed' name='hw_id'  value={{hw.id}}>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% if completed %}
        <hr>
<strong>Completed Assignments</strong>
    <table width='100%' id="completed_table"><tbody>
        {% for item in completed %}
            <tr id="hwentry_{{item.id}}">
                <td width='5%'></td>
                <td width='38%'>
                    <a href = '{% url "edit_hw" item.id %}'>{{item.hw_title}}</a>
                </td>
                <td width='20%'>
                    <a href = '{% url "edit_hw" item.id %}'>{{item.hw_class}}</a>
                </td>
                <td width='15%'>
                    <a href = '{% url "edit_hw" item.id %}'>{{item.due_date}}</a>
                </td>
                <td width='10%'>
                    <a href = '{% url "edit_hw" item.id %}'>{{item.priority}}</a>
                </td width='5%'>
 
                    <td width='5%'>
                        <form action='/' method="POST" id="hwform" class="hwform" name='{{item.id}}'>
                            {% csrf_token %}
                            {% if not item.completed %}
                                <input type='checkbox' onclick='completioncall({{item.id}})' class='completed' id='{{item.id}}' name='hw_completion' value='{{item.completed}}'>
                            {% else %}
                            <input type='checkbox' onclick='completioncall({{item.id}})' class='completed' id='{{item.id}}' name='hw_completion' value='{{item.completed}}'  checked='{{item.completed}}'>
                            {% endif %}
                            
                            <input type='hidden' class='completed' name='hw_id'  value={{item.id}}>
                        </form>
                    <td></td>
            </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>


<hr>
<a href='/addhw'>Add Homework</a><br>
{% if completed %}
<a href='/'>Show Only Active Assignments</a>
{% else %}
<a href='/allhw'>Show All Homework(Including Inactive)</a>
{% endif %}

{% endblock %}
