{% extends 'hwapp/layout.html' %}

{% block body %}
<h1>
Homework List for {{user.username}}
</h1>
<table class='index' width='100%'>
    <thead class='index'>
        <tr class='index'>
            <td class='index' width=5%></td>
            <td class='index'width='40%'>
                <strong>Assignment Name</strong>
            </td>
            <td class='index' width='20%'>
                <strong>Class Name</strong>
            </td>
            <td class='index' width=15%>
                <strong>Due Date </strong>
            </td>
            <td class='index' width='10%'>
                <strong>Priority</strong>
            </td>
            <td class='index' width=5%>
                <strong>Completed?</strong>        
            </td>
            <td width=5%></td>
        </tr>
    </thead>
    <tbody class='index'>
        {% for hw in hwlist %}
        <tr class='index'>
            <td class='index'></td>
            <td class='index'>
                <a href = '{% url "edit_hw" hw.id %}'>{{hw.hw_title}}</a>
            </td>
            <td class='index'>
                <a href = '{% url "edit_hw" hw.id %}'>{{hw.hw_class}}</a>
            </td>
            <td class='index'>
                <a href = '{% url "edit_hw" hw.id %}'>{{hw.due_date}}</a>
            </td>
            <td class='index'>
                <a href = '{% url "edit_hw" hw.id %}'>{{hw.priority}}</a>
            </td>

                <td class='index'>
                <form action='/' method="POST" id="hwform">
                    {% csrf_token %}
                    {% if not hw.completed %}
                        <input type='checkbox' class='completed' id='hw_completion' name='hw_completion' value='{{hw.completed}}'>
                    {% else %}
                    <input type='checkbox' class='completed' id='hw_completion' name='hw_completion' value='{{hw.completed}}'  checked='{{hw.completed}}'>
                    {% endif %}
                    <input type='hidden' class='completed' name='hw_id'  value={{hw.id}}>
                    </form>
                </td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% if completed %}
        <hr>

    <table width='100%'><tbody>
        {% for item in completed %}
            <tr>
                <td width='5%'></td>
                <td width='38%'>
                    <a href = '{% url "edit_hw" item.id %}'>{{item.hw_title}}</a>
                </td>
                <td width='20%'>
                    <a href = '{% url "edit_hw" item.id %}'>{{item.hw_class}}</a>
                </td>
                <td width='15%'>
                    <a href = '{% url "edit_hw" item.id %}'>{{item.due_date}}</a>
                </td>
                <td width='10%'>
                    <a href = '{% url "edit_hw" item.id %}'>{{item.priority}}</a>
                </td width='5%'>
    
                    <td width='5%'>
                    <form action='/' method="POST" id="hwform">
                        {% csrf_token %}
                        {% if not item.completed %}
                            <input type='checkbox' class='completed' id='hw_completion' name='hw_completion' value='{{item.completed}}'>
                        {% else %}
                        <input type='checkbox' class='completed' id='hw_completion' name='hw_completion' value='{{item.completed}}'  checked='{{item.completed}}'>
                        {% endif %}
                        <input type='hidden' class='completed' name='hw_id'  value={{hw.id}}>
                        </form>
                    </td>
                    <td></td>
            </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<hr>
<a href='/addhw'>Add Homework</a><br>
<a href='/allhw'>Show All Homework(Including Inactive)</a>
{% endblock %}