{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Homework App{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'hwapp/styles.css' %}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/admin/jsi18n/"></script>
        {% block javascript %}{% endblock %}
    </head>
    <body>
        <table>
            <tr>
                <td width=10%>
                    <a href='{% url "index" %}'><img src='/static/hwapp/hwapp logo.png'></a>
                    {% if user.is_authenticated %}
                    <td width=10% class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </td>
                    {% endif %}
                </td>
                <td width=10% class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About Me</a>
                </td>
                {% if user.is_authenticated %}

                <td width=10% class="nav-item">
                    <a class="nav-link" href = "{% url 'preferences' %}">Preferences</a>
                </td>
                <td width=10% class="nav-item">
                    <a class="nav-link" href = "{% url 'classes' %}">Classes</a>
                </td>
            {% else %}
                <td width=10% class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </td>
                <td width=10% class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </td>
            {% endif %}
                <td width=20%>
                    {% if user.is_authenticated %}
                    Signed in as <a href='/profile'><strong>&nbsp;{{ user.username }} (<a href="{% url 'logout' %}">Logout)</a></strong>.</a>
                {% else %}
                    Not signed in.
                {% endif %}
                </td>
            </tr>
        </table>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
    <footer>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="{% static 'hwapp/java.js' %}"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
    </footer>
</html>
