{% load static %}
{% load has_group %}

<!DOCTYPE html>
<meta name='viewport' content="width=device-width, initial-scale=1">
<html lang="en">
    <head>
        <title>{% block title %}Homework App{% endblock %}</title>
        <link rel='icon' type="image/png" href="{% static 'hwapp/favicon.png' %}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name='keywords' content="Homework, Task Manager, To Do">
        <meta name='description' content='Task Manager for Students'>
        <link href="{% static 'hwapp/styles.css' %}" rel="stylesheet">
<script data-jsd-embedded data-key="43e73bf1-6ae7-492f-810f-c8cd57fb0fb2" data-base-url="https://jsd-widget.atlassian.com" src="https://jsd-widget.atlassian.com/assets/embed.js"></script>

        {% block javascript %}{% endblock %}
    </head>
    <body>
        <div id="page-container">

        <table>
            <tr>
                <td width=10%>
                    <a href='{% url "index" %}'><img alt='HW App logo' src='/static/hwapp/hwapp logo.png'></a>
                    {% if user.is_authenticated %}
                    <td width=10% class="nav-item" style="font-weight:bold;text-align: center;";>
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </td>
                    <!-- Homework Dropdown -->
                    <td width=10% id="homework_all" style="font-weight:bold;text-align: center;"; class="nav-item" >
                        <div id="homework_all" class="homework_all">
                        <a class="nav-link homework_all" href = "{% url 'classes' %}">Homework</a>
                        <div id="homework_all_dropdown" class="homework_all dropdown_css">
                            <a href="{% url 'classes' %}" style="text-decoration: none;"><div class="nav_item">
                                Classes
                            </div></a>
                            <a href="{% url 'homework' %}" style="text-decoration: none;"><div class="nav_item">
                                Homework
                            </div></a>
                        </div>
                    </div>
                    </td>
                    <!-- Calendar -->
                    <td width=10% class="nav-item" style="font-weight:bold;text-align: center;";><a href='/calendar/'>Calendar</a></td>
                    <!--integrations-->
                    <td width=10% id="integrations_all" style="font-weight:bold;text-align: center;" class="nav-item" >
                        <div id="integrations_all" class="integrations_all">
                        <a class="nav-link integrations_all" href = "/integrations">Integrations</a>
                        <div id="integrations_all_dropdown" style='display:none' class="integrations_all dropdown_css">
                            <a href="{% url 'notion_auth' %}" style="text-decoration: none;"><div class="nav_item">
                                Notion
                            </div></a>
                            <a href="{% url 'schoology_api' %}" style="text-decoration: none;"><div class="nav_item">
                                Schoology
                            </div></a>
                            <a href="{% url 'canvas_api' %}" style="text-decoration: none;"><div class="nav_item">
                                Canvas
                            </div></a>
                            <a href="{% url 'spotify_index' %}" style="text-decoration: none;"><div class="nav_item">
                                Spotify
                            </div></a>
                        </div>
                    </div>
                    </td>
                    <!-- Settings -->
                    <td width=10% id="settings_all" style="font-weight:bold;text-align: center;" class="nav-item" >
                        <div id="settings_all" class="settings_all">
                        <a class="nav-link settings_all" href = "#">Settings</a>
                        <div id="settings_all_dropdown" class="setting_all dropdown_css" style="width:10%;margin-left:0%">
                            <a href="{% url 'profile' %}" style="text-decoration: none;"><div class="nav_item">
                                Profile
                            </div></a>
                            <a href="{% url 'about' %}" style="text-decoration: none;"><div class="nav_item">
                                &nbsp About This Website &nbsp
                            </div></a>         
                            <a href="{% url 'csv_export_template' %}" style="text-decoration: none;"><div class="nav_item">
                                &nbsp Export Homework &nbsp
                            </div></a> 
                            <a href="{% url 'logout' %}" style="text-decoration: none;"><div class="nav_item">
                                &nbsp Logout &nbsp
                            </div></a>                    
                        </div>
                    </div>
                    </td>
                    {% if user.is_superuser %}
                    <!-- Collections -->
                    <td width='10%' style="font-weight:bold;text-align: center;" class="nav-item" >
                        <div id="collection_all" class="collection_all">
                            <a class="nav-link collection_all" href = "#">My Collection</a>
                            <div id="collection_all_dropdown" class="collection_all dropdown_css">
                                <a href="{% url 'pastebin' %}" style="text-decoration: none;"><div class="nav_item">
                                    &nbsp Pastebin &nbsp
                                </div></a>
                                <a href="{% url 'filebin' %}" style="text-decoration: none;"><div class="nav_item">
                                    &nbsp Filebin &nbsp
                                </div></a>
                                <a href="{% url 'all_pages' %}" style="text-decoration: none;"><div class="nav_item">
                                    &nbsp Pages &nbsp
                                </div></a>
                            </div>
                        </div>
                    </td>
                    <!-- Admin Tab -->
                    <td width='10%' style="font-weight:bold;text-align: center;" class="nav-item" >
                        <div id="admin_all" class="admin_all"x>
                            <a class="nav-link admin_all" href = "#">Administration</a>
                            <div id="admin_all_dropdown" class="admin_all dropdown_css">
                                <a href="/admin" style="text-decoration: none;"><div class="nav_item">
                                    &nbsp Admin Console &nbsp
                                </div></a>
                                <a href="/admin_view" style="text-decoration: none;"><div class="nav_item">
                                    &nbsp Admin View &nbsp
                                </div></a>
                            </div>
                        </div>
                    </td>

                    <td width='20%' style='display: none;'></td>
                    {% else %}
                    <td width='40%' style='display: none;'></td>

                    {% endif %}

                    <td width='10%' class="mobile_nav" >
                        <!-- from W3 Schools, sidenav for MOBILE ONLY-->
                        <div id="mySidenav" class="sidenav" >
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <a href="/">Home</a>
                            <a href="#" onclick='show_item("homework_block")'>Homework &#9660;</a>
                            <div id='homework_block' style='display:none;'>
                                <ul style="list-style-type:none;">
                                    <li>
                                        <a style='font-size:20px' href='/classes'>
                                            Classes
                                        </a>
                                    </li>
                                    <li>
                                        <a style='font-size:20px' href='/'>
                                            Homework
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <a href="/calendar">Calendar</a>
                            <a href="#" onclick = 'show_item("integrations_block")'>Integrations &#9660;</a>
                            <div id='integrations_block' style='display:none;'>
                                <ul style="list-style-type:none;">
                                    <li>
                                        <a style='font-size:20px' href='{% url "integrations_index" %}'>
                                            Information
                                        </a>
                                    </li>
                                    <li>
                                        <a style='font-size:20px' href='{% url "homework" %}'>
                                            Schoology
                                        </a>
                                    </li>
                                    <li>
                                        <a style='font-size:20px' href='{% url "homework" %}'>
                                            Canvas
                                        </a>
                                    </li>  
                                    <li>
                                        <a style='font-size:20px' href='{% url "notion_auth" %}'>
                                            Notion
                                        </a>
                                    </li>          
                                    <li>
                                        <a style='font-size:20px' href='{% url "spotify_index" %}'>
                                            Spotify
                                        </a>
                                    </li>  
                                </ul>

                            </div>
                            <a href="#" onclick='show_item("settings_block")'>Settings &#9660;</a>
                            <div id='settings_block' style='display:none;'>
                                <ul style="list-style-type:none;">
                                    <li>
                                        <a style='font-size:20px' href='/profile'>
                                            Profile
                                        </a>
                                    </li>

                                    <li>
                                        <a style='font-size:20px' href='/about'>
                                            About This Website
                                        </a>
                                    </li>   
                                    <li>
                                        <a style='font-size:20px' href='{% url "csv_export_template" %}'>
                                            Export Homework
                                        </a>
                                    </li>                                   
                                    <li>
                                        <a style='font-size:20px' href="{% url 'logout' %}">
                                            Log Out
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            {% if user.is_superuser %}
                            <a href='#' onclick = 'show_item("collections")'>My Collection &#9660;</a>
                            <div id='collections' style='display:none;'>
                            <ul style='list-style-type:none;'>
                                <li>
                                    <a style='font-size:20px' href="{% url 'pastebin' %}">
                                        Pastebin
                                    </a>
                                </li>
                                <li>
                                    <a style='font-size:20px' href="{% url 'filebin' %}">
                                        File Bin
                                    </a>
                                </li>
                                <li>
                                    <a style='font-size:20px' href="{% url 'all_pages' %}">
                                        Pages
                                    </a>
                                </li></ul>
                            </div>
                            <a href='#' onclick = 'show_item("admin_block")'>Administration &#9660;</a>
                            <div id='admin_block' style='display:none;'>
                            <ul style='list-style-type:none;'>
                                <li>
                                    <a style='font-size:20px' href='/admin'>
                                        Admin Console
                                    </a>
                                </li>
                                <li>
                                    <a style='font-size:20px' href='/admin_view'>
                                        Admin View
                                    </a>
                                </li></ul>
                            </div>
                              {% endif %}
                        </div>

                          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                    </td>
                </td>
                </td>


            {% else %}
                <td width=10% class="nav-item" style="font-weight:bold";>
                    <a class="nav-link" href="{% url 'login' %}" style="font-weight:bold";>Log In</a>
                </td>
            {% endif %}
                <td width=20%>
                    {% if user.is_authenticated %}
                {% else %}
                    Not signed in.
                {% endif %}
                </td>
            </tr>
        </table>
        <hr>
        <div id="content-wrap">
        {% block body %}
        {% endblock %}
    </div>
        <div id="footer" style='text-align:center;margin:auto' >
            <hr>
            <a href="{% url 'terms' %}">Terms and Conditions</a> | <a href="{% url 'privacy' %}">Privacy Policy</a>
        </div>
    </div>
    </body>
    <footer>


        <style>
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
        </style>
              <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="{% static 'hwapp/java.js' %}"></script>
        <script src="https://kit.fontawesome.com/18cbaa6db1.js" crossorigin="anonymous"></script>
        {% block footer %}{% endblock %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                elements = ['homework_all', 'integrations_all', 'settings_all', 'admin_all', 'collection_all']
                for (let i = 0; i < elements.length; i++) {
                    //show menu on element hover
                    document.getElementById(elements[i]).onmouseover = () => {
                        document.getElementById(`${elements[i]}_dropdown`).style.display = "block";
                    }
                    //hide menu on mouse leaving
                    document.getElementById(elements[i]).onmouseleave = () => {
                        document.getElementById(`${elements[i]}_dropdown`).style.display = "none";
                    }
                }
            })
        </script>

    </footer>
</html>
