{% extends "hwapp/layout.html" %}

{% block body %}
<div style='display:none;' id='schoology_html'>
    {{html|safe}}
</div>
<table>
    <thead>
        <tr><td width='50%'>
            <b>Class Name</b>
        </td><td width='50%'>
            <b>Grade</b>
        </td></tr>
    </thead>
    <tbody id='class_table_body'>

    </tbody>
</table>

{% endblock %}
{% block footer %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        var classes = document.querySelectorAll('.gradebook-course .gradebook-course-title a')
        var grades = document.querySelectorAll('.gradebook-course .gradebook-course-grades .course-grade-value')
        var table = document.getElementById('class_table_body')
        for(i=0; i<classes.length; i++) {
            table.innerHTML += `<tr><td>${classes[i].innerText}</td><td>${grades[i].innerText}</td></tr>`
        }
        document.getElementById('schoology_html').remove()
    })
</script>
{% endblock %}