{% extends "hwapp/layout.html" %}

{% block body %}
{% if message %}
<div class='alert alert-danger'>
    {{message|safe}}
</div>
{% endif %}
{% if success %}
<div class='alert alert-success'>
    {{success|safe}}
</div>
{% endif %}
<h1>Please enter your desired password</h1>
<hr>
<div class='alert alert-primary'>
    Please make sure that your password meets the below requirements:
    <ul>
        <li>
            At least 1 uppercase character
        </li>
        <li>At least 1 lowercase character</li>
        <li>
            At least 8 characters long
        </li>
        <li>
            At least one special character !@#$%^&*()
        </li>
        <li>
            At least one number
        </li>

    </ul>
</div>
<div class="ics_form">
    <form method='POST' class='reset_form' action='/reset_password'>
        {% csrf_token %}
        <label for='email'>Password:</label><input type='password' id='pw' name='pw' style='width:50%;' ><br>
        <label for='email'>Password Confirmation:</label><input type='password' id='pw_confirmation' name='pw_confirmation' style='width:50%;'><br>
        <input type='hidden' value={{hash_val}} name='hash_val'>
        <button class='btn btn-primary' type='submit'>Submit</button>
    </form>
</div>

{% endblock %}