{% extends "hwapp/layout.html" %}
{% block title %}
Pages Listing
{% endblock %}
{% block body %}
{% if message %}
<div class="alert alert-danger" role="alert">
    {{message}}    
    </div>
{% endif %}

<ul>
    {% for page in pages %}
        <li>
            <a style='font-size:40px' href='{% url "page_manager" page.version_id %}'>
                {{ page.template_name }}
            </a>
        </li>
    {% endfor %}
</ul>
{% if user.is_superuser %}
<hr>
<a href="{% url 'email_template_editor' %}?type=custom" class="btn btn-primary">Edit</a>
{% endif %}
{% endblock %}
{% block footer %}
<style>
li::marker {
    font-size: 1.5rem;
}
</style>
{% endblock %}