{% extends "hwapp/layout.html" %}
{% block title %}
My Profile
{% endblock %}
{% block body %}

<h1 style="margin-left:35%">Edit {{user.username}}'s Profile</h1>
{% if message %}
<div class="alert alert-success alert-dismissible fade show" role="alert" id="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<div class="alert alert-danger" role="alert" style="display:none" id="error_message">
    {{error}}
  </div>
<script>
  function reset_pw() {
      fetch(`/change_password`, {
          method: 'PATCH',
          headers: {
              'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
          },
          credentials: "same-origin",
      })
      .then(response => response.json())
      .then(result => {
          if(result['status'] == 400) {
              /* show error message if error*/
              const alert = document.getElementById('error_message')
              alert.innerHTML = result['message']
              alert.style.display='block'

              /* hide success message if any */
              document.getElementById('alert').style.display='none'
          } else {
              /* show error message if error*/
              const alert = document.getElementById('alert')
              alert.innerHTML = result['message']
              alert.style.display='block'

              /* hide success message if any */
              document.getElementById('error_message').style.display='none'
          }
      });
      return false
}
</script>
<hr>
<div>
    <form action='{% url "profile" %}' method='POST' class='indented'>
        {% csrf_token %}
        <div style='margin-left:35%;'>

                <label for="first_name"><strong>First Name</strong></label>
                <input type="text" class="form-control"  id="first_name" name = "first_name" style="width:50%" placeholder="John" value="{{first_name}}">

                <label for="last_name"><strong>Last Name</strong></label>
                <input type="text" class="form-control" id="last_name" name="last_name" style="width:50%" placeholder="Doe" value="{{last_name}}">


                <label for="email"><strong>Email address</strong></label>
                <input type="email" class="form-control" id="email" name="email" style="width:50%" placeholder="Enter email" value="{{email}}">

                <label for="timezone"><strong>Timezone</strong></label><br>
                <select name="timezone" id="timezone">
                    {% for timezone in timezones %}
                    <option value="{{timezone.id}}" {% if timezone.id == selected %} selected {% endif %}>{{timezone}}</option>
                    {% endfor %}
                </select>
          
        </div><br>
        <button style='margin-left: 35%' type="submit" class="btn btn-primary">Submit</button>
    </form><br>
    <button style='margin-left: 35%' class="btn btn-secondary" onclick="reset_pw()">Change Password</button>

</div>
<hr>


{% endblock %}