{% extends 'hwapp/layout.html' %}
{% load static %}
{% block javascript %}<script src="{% static 'hwapp/sortable.js' %}"></script>
<style>
    .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  
}
</style>{% endblock %}

{% block body %}
<h1>
Homework List for {{user.username}}
</h1>
<img id='page_size_button' alt='class filter' class='btn btn-default dropdown-toggle index_filter' data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style='height:6%;width:6%;position:relative;margin-top:-4%;float:right;margin-right:5%;' src="{% static 'hwapp/filter.png' %}">
<div class='dropdown-menu' id='class_filter' aria-labelledby="page_size_label">
    <b>Class Filter</b>
    <a onclick='class_filters()' class="dropdown-item class_filter_items" href='/' >All Classes</a>
    {% for class in class_list %}
    <a onclick='class_filters()' class="dropdown-item class_filter_items" href='?class={{class.id}}' value='{{class.id}}'>{{class.class_name}}</a>
    {% endfor %}
</div>



<div id="alert" class="alert alert-success" role="alert" style='display:none;'></div>
<div id='error_message' class="alert alert-danger" role="alert" style='display:none;'></div>
<table class='index sortable' width='100%'>
    <thead class='index'>
        <tr class='index'>
            <td class='index' width=5%></td>
            <td class='index'width='30%'>
                <strong>Assignment Name</strong>
            </td>
            <td class='index' width='25%'>
                <strong>Class Name</strong>
            </td>
            <td class='index' width=35%>
                <strong>Days </strong>
            </td>
            <td width=5%></td>
        </tr>
    </thead>
    <tbody id="incomplete_table" class='index sortable'>
        {% for recurring in recurrings %}

        <tr class='index'>
            <td class='index'></td>
            <td class='index'>
                <a href = '{% url "addrecurring" %}?recurring_id={{recurring.id}}'>{{recurring.hw_title}}</a>
            </td>
            <td class='index'>
                <a href = '{% url "addrecurring" %}?recurring_id={{recurring.id}}'>{{recurring.hw_class}}</a>
            </td>
            <td class='index'>
                <div>
                    {% for day in recurring.days.all %}
                    <span class="dot">{{day.abbreviation}}</span>
                    {% endfor %}
                </div>

            </td>
            </tr>
            {% endfor %}
            <!--blank row-->
        </tbody>
    </table>
    <hr>
    <a href="/addrecurring" class="btn btn-primary">Add Recurring</a>

{% endblock %}
