{% extends "hwapp/layout.html" %}

{% block body %}
<h1>Forgot your password?</h1>
<hr>
<h6>Please enter the email associated with your account and a password reset link will be sent to that email. Please note that the link expires within 10 minutes</h6>
<div class="ics_form">
    <form  method='POST' action='/reset_password'>
        {% csrf_token %}
        <label for='email'>Email:</label><input id='form_email' name='form_email' style='width:50%;' type='email'><br>
        <button class='btn btn-primary' type='submit'>Submit</button>
    </form>
</div>

{% endblock %}