{% extends "hwapp/layout.html" %}
{% block title %}User Management{% endblock %}
{% block body %}

<table style="margin-left:5%;width:90%">
    <thead>
        <tr>
            <td>
                <b>Username</b>
            </td>
            <td>
                <b>First Name</b>
            </td>
            <td>
                <b>Last Name</b>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for user1 in users %}
        <tr><td><a href='{% url "user_management_individual" user.id %}'>{{user1.username}}</a></td>
        <td>
            {{user1.first_name}}
        </td>
        <td>
            {{user1.last_name}}
        </td></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}