{% extends "hwapp/layout.html" %}
{% block title %}User Management{% endblock %}
{% load has_group %}
{% block body %}

<ul>
    <li>
        <b>Name: </b>{{user1.first_name}} {{user1.last_name}}
    </li>
    <li>
        <b>Email: </b><a href="{% url 'email' %}?email={{user1.email}}&name={{user1.first_name}} {{user1.last_name}}">{{user1.email}}</a>
    </li>
    <li>
        <b>Username: </b>{{user1.username}}
    </li>
    <li>
        <b>Last Login: </b>{{user1.last_login}}
    </li>
    <li>
        <b>Member Since: </b>{{user1.date_joined}}
    </li>
    <li>
        <b>Groups: </b>
        {% if user1.groups.all %}
        <ul>
            {% if request.user|has_group:"Permission Admins" %}
            {% for group in user1.groups.all %}
            <li><a href="{% url 'group_management' %}?group_id={{group.id}}">{{group.name}}</a></li>
            {% endfor %}
            {% else %}
            {% for group in user1.groups.all %}
            <li>{{group.name}}</li>
            {% endfor %}
            {% endif %}
        </ul>
        {% else %} No Groups Found {% endif %}
    </li>
    <li>
        <b>Staff Status: </b> {% if user1.is_staff %} True {% else %} False {% endif %}
    </li>
    <li>
        <b>Active: </b> {% if user1.is_active %} True {% else %} False {% endif %}
    </li>
</ul>
{% endblock %}